.portfolio {
padding: 0 70px 125px;
}

.portfolio__title {
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    margin: 0;
    margin-bottom: 50px;
}

.portfolio__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portfolio__list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #E6E6E6;
    margin: 0;
    margin-bottom: 20px;

}

.portfolio__list-item:last-child {
    border-bottom: none;
}

.portfolio__link {
    text-decoration: none;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #000000;
    margin: 0;
    padding-bottom: 19px;
    opacity: 1;
    transition: opacity .2s ease-in;
}

.portfolio__link:hover {
    opacity: 0.6;
    cursor: pointer;
}

.portfolio__list-element {
    font-weight: normal;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: -0.04em;
    color: #000000;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .portfolio__link {
        font-size: 28px;
        line-height: 50px;

    }
}

@media screen and (max-width: 500px) {
    .portfolio {
        padding: 70px 14px;
    }

    .portfolio__title {
        font-size: 14px;
line-height: 20px;
    }

    .portfolio__link {
        font-size: 18px;
line-height: 28px;
    }

    .portfolio__list-element {
        font-size: 18px;
line-height: 28px;
    }
}