.promo {
    background-color: #F5F5F5;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 598px;
    margin: 20px 40px 0;
    border-radius: 10px 10px 0 0;
}

.promo__title {
    margin: 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    width: 730px;
    color: #000000;
}

@media screen and (max-width: 830px) {
    .promo {
      min-height: 570px;
      padding: 0 19px 0 19px;
    }
  
    .promo__title {
        font-size: 50px;
        line-height: 58px;
      width: 730px;

    }
}

@media screen and (max-width: 750px) {
   .promo {
    min-height: 570px;
   }

   .promo__title {
    font-size: 31px;
    line-height: 39px;
    width: 300px;
   }

   @media screen and (max-width: 450px) {
      .promo__title {
        font-size: 29px;
        line-height: 37px;
      }

      .promo {
        margin: 0 14px;
      }
   }

}