.show-more {
  box-sizing: border-box;
  padding: 50px 70px 80px 70px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.show-more__button {
  width: 100%;
    max-width: 360px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000;
    text-align: center;
    background: #FFFFFF;
    border-radius: 9px;
    border: unset;
    cursor: pointer;
    transition: background .7s ease;
    padding: 11px 60px;
    border: 1px solid #E8E8E8;
}

.show-more__button:hover {
  background: rgba(249, 249, 249, .8);
}

@media screen and (max-width: 1023px) {
  .show-more {
    padding: 50px 30px 80px 30px;
  }
}

@media screen and (max-width: 767px) {
  .show-more {
    padding: 50px 30px 80px;
  }
}

@media screen and (max-width: 500px) {
  .show-more {
    padding: 50px 10px 80px;
  }
}
