.about-project {
  padding: 110px 70px;
  width: 100%;
  box-sizing: border-box;
}

.about-project__container {
  margin: 70px 0 0 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content;
  gap: 40px;
}

.about-project__element {
  max-width: 550px;
}

.about-project__element-title {
  margin: 0;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.about-project__element-text {
  margin: 26px 0 110px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.progress {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.progress__container {
  display: flex;
  flex-direction: column;
}

.progress__element {
  margin: 0;
  padding: 9px 0;
  background-color: #2be080;
}

.progress__element-caption {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.progress__element_color {
  background-color: #f2f2f2;
}

.progress__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
  margin: 14px 0 0 0;
}

@media screen and (max-width: 767px) {
  .about-project {
    min-height: 585px;
  }

  .about-project__element-text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 500px) {
  .about-project {
    padding: 70px 18px;
    min-height: 641px;
  }

  .about-project__container {
    margin: 0;
    margin-top: 60px;
    grid-template-columns: 1fr;
  }

  .about-project__element-title {
    font-size: 18px;
    line-height: 22px;
  }

  .about-project__element-text {
    font-size: 11px;
    line-height: 16px;
    margin: 16px 0 60px;
  }

  .progress {
    grid-template-columns: 2fr 3fr;
  }

  .progress__element {
    padding: 11px 10px;
  }

  .progress__element-caption {
    font-size: 11px;
    line-height: 13px;
  }

  .progress__text {
    font-size: 11px;
    line-height: 13px;
  }
}
