.navtab {
  max-width: 100%;
  min-height: 66px;
  background-color: #F5F5F5;
  margin: 0 40px;
  border-radius: 0 0 10px 10px;}

.navtab__list {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 10px;
  padding: 0;
}

.navtab__list-item {
  display: flex;
  margin: 0;
  padding: 10px 17px;
  background: #E8E8E8;
  border-radius: 10px;
}

.navtab__link {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  text-decoration: none;
  color: #000000;
  opacity: 1;
  transition: opacity .2s ease-in;
}

.navtab__link:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 450px) {
  .navtab {
    min-height: 66px;
    margin: 0 14px;
  }

  .navtab__list {
    gap: 6px;
    padding: 0 16px;
  }

  .navtab__list-item {
    padding: 6px 20px;
  }

  .navtab__link {
    font-size: 10px;
    line-height: 16px;
  }
}
